* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #dab785;
  --logo-color: #fe654f;

  --img-width: 259px;
  /*Once was 25vw*/
  --img-height: 459px;
}

body {
  font-family: "Merriweather", serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Index/Homepage */

a:link,
a:active {
  padding: 9px;
  margin: 50px;
  color: #fe654f;
}

.end {
  background-color: var(--primary-color);
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 150px;
  margin-top: 50px;
}

/* Web Responsivness*/

@media (max-width: 992px) {
  /* Index/Homepage */
  .logo {
    /* margin: 20px; */
    display: grid;
    justify-content: center;
  }

  #top {
    background-color: var(--primary-color) !important;
  }

  .nav-options {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: var(--logo-color);
    list-style: none;
  }

  .nav-options:hover {
    color: #f1f1f1;
  }

  .hero {
    background-image: url("./assets/images/reading.jpg");
    align-items: center;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--logo-color);
    padding: 0 20px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  h2 + p {
    display: flex;
    justify-content: center;
    /* background-color: aquamarine; */
  }

  #shop {
    display: inline-block;
    padding: 12px 35px;
    background: var(--logo-color);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease;
  }

  #shop:hover {
    background-color: floralwhite;
  }

  .container {
    display: inline;
    justify-content: center;
    margin: 20vh;
  }

  div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .container-img {
    position: relative;
    width: 50%;
    max-width: var(--img-width);
    width: 400vw;
    margin-bottom: 25px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    /*Adding this here so the overlay will fit the image*/
  }

  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .container-img:hover .overlay {
    opacity: 1;
  }

  .end {
    background-color: var(--primary-color);
    display: grid;
    justify-content: center;
    text-align: center;
    border-top: 2px solid black;
    padding: 150px;
    margin-top: 50px;
  }

  /* Selection */
  .grid {
    margin: 65px;
    padding: 75px;
    /* When looking up the grid template, I had to W3schools to understand
    I was able to figure out somehow by using grid-template and grid-template-rows */
    grid-template: 60px / auto auto auto;
    grid-template-rows: auto;
  }

  .card {
    display: table;
    margin: 0 auto;
    padding: 25px;
    transform: scale(0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .card:hover {
    color: #0056b3;
  }


  .card img {
    /* Height and Width were both 100% but it mad the page to big so I decided to change that */
    display: block;
    margin: auto;
    width: fit-content;
    height: 35vh !important;
    object-fit: fill;
  }

  .content {
    padding: 15px;
    transform: scale(0.98);
    border: 2px solid black;
  }

  #view {
    display: inline-block;
    padding: 12px 35px;
    background: var(--logo-color);
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s ease;
  }

  /* About */

  /* Contact */
}
